<<<<<<< HEAD
/*---------------------------------------------------------------------------------

Master Stylesheet

	Template:	 Unika - Responsive One Page HTML5 Template
	Author:		 imransdesign.com
	URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
	Version:	1.0

---------------------------------------------------------------------------------*/

html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* Begin Fonts */
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Roboto";
}
.navbar-nav > li > a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* End Fonts */


section {
	position: relative;
}
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(../img/page-loader.gif) center center no-repeat;
}
.devider {
	width: 100%;
	height: 23px;
	background: url('../img/devider.png') no-repeat center center;
	margin: 5px 0 10px;
}
.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}

#header {
	/* height: 98px; */
}


/* ===== Begin text colors ===== */
/*
.text-main { color: #363940; }
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }
*/

/* ===== Begin navbar ===== */
.navbar {
	margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}


/* Navbar brand (logo) */
.navbar-brand {
	background-repeat: no-repeat;
	background-position: left center;
	width: 150px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-shrink .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-transparent .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-inverse .navbar-brand {
	background-image: url(../img/logo.png);
}

/* Navbar links */
.navbar-nav > li > a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

/* Navbar dropdown */
.dropdown-left {
	left: 0 !important;
	right: auto !important;
}
.dropdown-right {
	right: 0 !important;
	left: auto !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}
.navbar-default .dropdown-menu {
	padding: 10px 0;
}
.dropdown-menu > li > a {
	padding: 4px 20px;
	text-transform: uppercase;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	text-decoration: none;
	background-color: transparent;
}

/* Navbar inverse dropdown */
.navbar-inverse .dropdown-menu {
	padding: 10px 0;
}

/* Navbar fixed */
.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-shrink {
	z-index: 9999;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.navbar-shrink .navbar-brand {
	font-size: 20px;
}
.navbar-default.navbar-fixed-top.navbar-shrink .container {
}
.navbar-fixed-top.navbar-shrink .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Navbar transparent */
.navbar-transparent {
	background-color: #212121;
}
.navbar-fixed-top.navbar-transparent .container {
	padding-top: 30px;
	padding-bottom: 0;
}
.navbar-fixed-bottom.navbar-transparent .container {
	padding-top: 0;
	padding-bottom: 30px;
}
.navbar-transparent .navbar-nav > li > a {
	color: #FFF;
}
.navbar-transparent .navbar-brand, .navbar-transparent .navbar-brand:focus {
	color: #FFF;
}
/* ===== End navbar ===== */


/* ===== Begin buttons ===== */
/*
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

/* Button default */
/*
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
*/
/* Button blank */
/*
.btn-blank {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 12px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-blank:hover, .btn-blank:focus, .btn-blank:active {
	color: #333;
}
.btn-blank:hover:before, .btn-blank:focus:before, .btn-blank:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
*/
/* Button active */
/*
.btn:active, .btn.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}
*/
/* Button large */
/*
.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}
*/

/* Scroll to top button */
.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.scrolltotop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ===== End buttons ===== */
=======
/*---------------------------------------------------------------------------------

Master Stylesheet

	Template:	 Unika - Responsive One Page HTML5 Template
	Author:		 imransdesign.com
	URL:		 http://imransdesign.com/
    Designed By: https://www.behance.net/poljakova
	Version:	1.0

---------------------------------------------------------------------------------*/

html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* Begin Fonts */
body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Roboto";
}
.navbar-nav > li > a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* End Fonts */


section {
	position: relative;
}
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(../img/page-loader.gif) center center no-repeat;
}
.devider {
	width: 100%;
	height: 23px;
	background: url('../img/devider.png') no-repeat center center;
	margin: 5px 0 10px;
}
.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #DDD;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}

#header {
	/* height: 98px; */
}


/* ===== Begin text colors ===== */
/*
.text-main { color: #363940; }
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }
*/

/* ===== Begin navbar ===== */
.navbar {
	margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}


/* Navbar brand (logo) */
.navbar-brand {
	background-repeat: no-repeat;
	background-position: left center;
	width: 150px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-shrink .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-transparent .navbar-brand {
	background-image: url(../img/logo.png);
}
.navbar-inverse .navbar-brand {
	background-image: url(../img/logo.png);
}

/* Navbar links */
.navbar-nav > li > a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

/* Navbar dropdown */
.dropdown-left {
	left: 0 !important;
	right: auto !important;
}
.dropdown-right {
	right: 0 !important;
	left: auto !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
}
.navbar-default .dropdown-menu {
	padding: 10px 0;
}
.dropdown-menu > li > a {
	padding: 4px 20px;
	text-transform: uppercase;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	text-decoration: none;
	background-color: transparent;
}

/* Navbar inverse dropdown */
.navbar-inverse .dropdown-menu {
	padding: 10px 0;
}

/* Navbar fixed */
.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-shrink {
	z-index: 9999;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.navbar-shrink .navbar-brand {
	font-size: 20px;
}
.navbar-default.navbar-fixed-top.navbar-shrink .container {
}
.navbar-fixed-top.navbar-shrink .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a {
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Navbar transparent */
.navbar-transparent {
	background-color: #212121;
}
.navbar-fixed-top.navbar-transparent .container {
	padding-top: 30px;
	padding-bottom: 0;
}
.navbar-fixed-bottom.navbar-transparent .container {
	padding-top: 0;
	padding-bottom: 30px;
}
.navbar-transparent .navbar-nav > li > a {
	color: #FFF;
}
.navbar-transparent .navbar-brand, .navbar-transparent .navbar-brand:focus {
	color: #FFF;
}
/* ===== End navbar ===== */


/* ===== Begin buttons ===== */
/*
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

/* Button default */
/*
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
*/
/* Button blank */
/*
.btn-blank {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 12px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-blank:hover, .btn-blank:focus, .btn-blank:active {
	color: #333;
}
.btn-blank:hover:before, .btn-blank:focus:before, .btn-blank:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
*/
/* Button active */
/*
.btn:active, .btn.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}
*/
/* Button large */
/*
.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}
*/

/* Scroll to top button */
.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.scrolltotop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ===== End buttons ===== */
>>>>>>> origin/master
